-content_for :page_title do
  =t('main.title')
= image_tag('IMG_2553.JPG', {:class => 'logo_img'})
%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button{:class => 'navbar-toggler navbar-toggler-right',
          :type => 'button',
          :'data-toggle' => 'collapse',
          :'data-target' => '#navbarSupportedContent',
          :'aria-controls' => 'navbarSupportedContent',
          :'aria-expanded' => false,
          :'aria-label' => 'Toggle navigation'}
    %span.navbar-toggler-icon
  %a{:class => 'navbar-brand', :href =>'#'} Турист.by

  %div{:class=>'collapse navbar-collapse', :id=>'navbarSupportedContent'}
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to '#', class: 'nav-link disabled' do
          %span.sr-only (current)
      %li.nav-item
        %a{:class => 'nav-link disabled', :href => '#'} Войти
    %form.form-inline.my-2.my-lg-0
      %input{:class => 'form-control mr-sm-2', :type => 'text', :placeholder => 'Имя пользователя'}
      %input{:class => 'form-control mr-sm-2', :type => 'password', :placeholder => 'Пароль'}
      %button{:class => 'btn btn-outline-success my-2 my-sm-0', :type => 'submit' } Войти
%h1
  =t('main.h1')
%form.form-inline.my-2.my-lg-0
  %input{:class => 'form-control mr-sm-2', :type => 'text', :placeholder => 'Откуда'}
  %input{:class => 'form-control mr-sm-2', :type => 'text', :placeholder => 'Куда'}
  %input{:class => 'form-control mr-sm-2', :type => 'text', :placeholder => 'Человек'}
  %input{:class => 'form-control mr-sm-2', :type => 'text', :placeholder => 'Ночей'}
  %button{:class => 'btn btn-outline-success my-2 my-sm-0', :type => 'submit' } Найти!