!!!5
%html
  %head
    %title
      = yield :page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %div.container
        =image_tag('IMG_2553.JPG', {:class => 'logo_img'})
        %nav{:class => 'navbar navbar-expand-md navbar-light',
          :style => 'background-color: #e3f2fd;'}
          %button{:class=>'navbar-toggler navbar-toggler-right',
           :type => 'button',
           :'data-toggle' => 'collapse',
           :'data-target' => '#navbarNav',
           :'aria-controls' => 'navbarNav',
           :'aria-expanded' => 'false',
           :'aria-label' => 'Toggle navigation'}
            %span{:class=>'navbar-toggler-icon'}
          =link_to(image_tag('logo_navbar_alpha.png', {class: 'logo_navbar'}),
            root_path,
            {class: 'navbar-brand'})
          %div{:class => 'collapse navbar-collapse', :id => 'navbarNav'}
            %div.navbar-nav
              =link_to t('menu.main'), root_path, {:class => 'nav-item nav-link'}
              =link_to t('menu.contacts') , contacts_path, {:class => 'nav-item nav-link'}
              =link_to t('menu.blog'), blog_path, {:class => 'nav-item nav-link'}
              =link_to t('menu.about'), about_path, {:class => 'nav-item nav-link'}
            %div.navbar-nav.ml-auto
              =link_to t('menu.enter'), '#', {class: 'nav-item nav-link'}
              =link_to t('menu.register'), '#', {class: 'nav-item nav-link'}

    %main{:class => 'container', :role => 'main'}
      %div.container
        =yield
    %div{:id=>'footer'}
      %div.navbar-inner
        %div.container
          %span.text-muted=t('footer')